body {
    margin: 0;
    padding: 0;
}

.bascet {
    text-align: right;
    background-color: aqua;
}

.catalog {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.goodsCard {
    width: 150px;
    border: 1px solid black;
    text-align: center;
}